body {
    margin:0;
    font-family: Arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1.1rem;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;  
    color: #fff;
}

.active {
    background-color: #04AA6D;
    color: #fff;
    text-decoration: none;
}

.active:hover {
    background-color: #04AA6D;
    color: #333;
    text-decoration: none;
}

.enviar {
    margin: 10px 0px 10px 0px;
    padding: 10px 30% 1 0px 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divcerrar{
  padding: 1rem 1rem;
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.cerrar{
  float:right;
}

@media screen and (max-width: 900px){
  body{
    width:100%;
    font-size:2rem;
    margin:0px;
    padding:0;
  }

  .container{
    width:100%;
    font-size:2rem;
    margin:0px;
    padding:1rem;
    padding-top:9rem;
  }
}